body {
  background-image: url(/public/images/Forside.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.5rem;
}
.logo {
  width: 15%;
}
div {
  display: flex;
}
nav ul {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  color: white;
  justify-content: space-around;
}
nav li {
  text-decoration: none;
  margin-left: 2%;
}

.landing {
  list-style: none;
  color: #fcaebb;
  margin-top: 275px;
}
.cph {
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.beskrivelse {
  font-family: "neuzeit-grotesk", sans-serif;
  font-size: 15px;
}
.sakura_festival {
  font-family: bely-display, sans-serif;
  font-size: 60px;
  margin: 0.5rem 0 0.5rem 0;
}

.dato {
  display: grid;
  font-size: 25px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-left: 30rem;
}
.april {
  margin-top: -2.5rem;
}
.burgermenu {
  font-family: "neuzeit-grotesk", sans-serif;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
footer ul {
  font-family: "neuzeit-grotesk", sans-serif;
  list-style: none;
  color: white;
  margin-left: 55rem;
  margin-top: 12rem;
}
.sakura_sign {
  z-index: -1;
  opacity: 20%;
  filter: brightness(10%);
  margin-top: -31rem;
  margin-left: 8rem;
  position: absolute;
  width: 28%;
}
