body {
  background-color: #263d3d;
  margin: 0.5rem;
}
h1 {
  font-family: bely-display, sans-serif;
}
h2 {
  font-family: "ratiomodern", serif;
}
p {
  font-family: "neuzeit-grotesk", sans-serif;
}
