---
---

<section class="card">
    <div class="img_container">
      <img src="/images/Wadaiko.jpg" class="card_image" alt="" />
      <div class="overlay_container">
        <div class="overlay_content">
      <p class="text_white">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      <div>
    </div>
    </div>
        <p class="add_program">Add to 'My Program'</p>
        <img src="/images/favorite.png" class="favorite" alt="" />
      </div>
    </div>
    <div class="card_copy">
      <p class="bold">Titel</p>
      <p>Artist</p>
      <p class="time">10.00-10.15</p>
    </div>
  </section>
  
  <style>
    /* ----- billede i card ------ */
  
    .img_container {
      position: relative;
      height: 300px;
      margin: 0px;
    }
  
    .card_image {
      width: 100%;
      margin: 0px;
    }
  
    .add_program {
      position: absolute;
      top: 87%;
      left: 17%;
      color: white;
    }
  
    .favorite {
      position: absolute;
      top: 87%;
      right: 4%;
      width: 12%;
    }
  
    .text_overlay {
      position: absolute;
      text-align: center;
    }
  
    .text_white {
      color: white;
      font-weight: 800;
    }

    .overlay_container {
        position: absolute;
        top:0%;
        left:0%;
        width: 100%;
        height: 100%;
        background: rgba(38, 61, 61, 0.4);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 0;
        transition: opacity 0.25s;
    }

    .overlay_container:hover{
        opacity: 1;}



    /* ----- tekst under billede ----- */
  
    p {
      margin: 2px;
      color: #56453a;
      font-family: "neuzeit-grotesk", sans-serif;
    }
  
    .bold {
      font-weight: 800;
    }
  
    .time {
      font-size: x-small;
    }
  
    .card {
      width: 223.55px;
    }
  
    .card_copy {
      margin: 0px;
      display: flex;
      flex-direction: column;
      text-align: center;
      background: #d5c0ac;
    }
  </style>
  