<nav>
  <ul>
    <div>
      <img src="public/images/final_logo.png" alt="logo" class="logo" />
      <div class="sakura_festival">
        <li class="sakura">SAKURA</li>
        <li>FESTIVAL</li>
      </div>
    </div>
    <div>
      <div class="dato">
        <li class="tal">22-23</li>
        <li class="april">april</li>
      </div>
      <li class="burgermenu">Burgermenu</li>
    </div>
  </ul>
</nav>

<style>
  .logo {
    width: 15%;
  }
  div {
    display: flex;
  }
  ul {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    color: white;
    justify-content: space-around;
  }
  li {
    text-decoration: none;
    margin-left: 2%;
  }
  .sakura_festival {
    display: grid;
    margin-top: 0rem;
    font-family: bely-display, sans-serif;
    font-size: 30px;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .sakura {
    margin-bottom: -1.5rem;
  }
  .dato {
    display: grid;
    font-size: 25px;
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-left: 30rem;
  }
  .april {
    margin-top: -2.5rem;
  }
  .burgermenu {
    font-family: "neuzeit-grotesk", sans-serif;
    margin-top: 1.5rem;
    margin-left: 2rem;
  }
</style>
