<!--BURGERMENU-->
<ul class="nav">
  <div class="left">
    <img src="public/images/final_logo.png" alt="logo" class="logo" />
    <div class="sakura_festival">
      <li>SAKURA</li>
      <li>FESTIVAL</li>
    </div>
  </div>
  <div class="right">
    <div class="dato">
      <li>22-23</li>
      <li>april</li>
    </div>
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>
      <ul class="menu__box">
        <li><a class="menu__item" href="">PROGRAM</a></li>
        <li><a class="menu__item" href="">INFO</a></li>
        <li><a class="menu__item" href="">MY PAGE</a></li>
        <li><a class="menu__item" href="">SPONSORS</a></li>
        <li><a class="menu__item" href="">VOLUNTEERS</a></li>
        <li><a class="menu__item" href="">ABOUT US</a></li>
      </ul>
    </div>
  </div>
</ul>
<style>
  .logo {
    width: 10%;
  }
  .sakura_festival {
    font-family: bely-display, sans-serif;
    color: white;
    font-size: 25px;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }
  .dato {
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 25px;
    margin-right: 2rem;
    margin-top: 1.5rem;
  }
  .left {
    display: flex;
  }
  .right {
    display: flex;
    margin-right: 5rem;
  }
  .nav {
    display: flex;
    list-style: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: absolute;
    width: 40px;
    height: 26px;
    top: 70px;
    cursor: pointer;
    z-index: 1;
    display: flex;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 70%;
    margin-top: 1rem;
    padding: 80px 0;
    list-style: none;
    border-radius: 50px 0 0px 50px;
    background-color: #f9c4cd;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
</style>
