---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="sakura-tekst">
    <div class="boks1">
      <img src="../images/sakura_img.svg" class="sakura_img" alt="sakura img" />
      <h1>ABOUT US</h1>
    </div>
    <br />
  </section>
  <div class="boks2">
    <div>
      <h2>A celebration of the cherry blossom</h2>
      <p>
        The Committee of the Copenhagen Sakura Festival was established in February, 2008 to arrange the cultural event Copenhagen Sakura Festival with the help of the Japanese Embassy in Denmark, the Municipality of Copenhagen and other
        Japan-related cultural and private organizations. The original idea came from the noble deed of donation of 200 cherry blossom (Sakura) trees by Mr. Seiichi Takaki, President of Andersen Institute of Bread & Life, the holding company of
        Andersen Group of Hiroshima City, and the employees of the company. The donated trees were planted in Langelinie Park. Mr. Takaki is Honorary Consul of Denmark and he was appointed to the honorable position of ambassador of H.C. Andersen on
        the occasion of the 200th anniversary of H.C. Andersen’s birthday in 2005. The donated Sakura trees were planted in Langelinie Park.
      </p>
    </div>
    <img src="/public/images/cherry2.webp" alt="cherry" class="cherry" />
    <img src="/public/images/bro.webp" alt="bro" class="bro" />
    <p>
      In Japan people love and admire Sakura blossom and almost everybody go out to enjoy its beauty together with families, friends, lovers, office-mates and so forth wherever and whenever Sakura bloom. Once a year Sakura connects people and people
      meet people under Sakura trees. It is also the utmost and fundamental goal of the Committee. The Committee has an honor to have Honorable Chairpersons H.E. the Ambassador of Japan to Denmark and Lord Mayor of the City of Copenhagen. The
      Committee consists of representatives of Japan related business, cultural and private organizations, the Municipality of Copenhagen and the Japanese Embassy.
    </p>
  </div>
  <div class="boks3">
    <div>
      <h2>Find</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis explicabo quaerat laboriosam molestias nihil adipisci aliquid earum eum accusamus harum pariatur ex quos quod totam, doloremque dignissimos debitis voluptates officia.</p>
    </div>
    <img src="/public/images/map2.webp" alt="" />
  </div>
</MainLayout>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  .sakura_img {
    position: absolute;
    margin-left: 34%;
    z-index: -1;
    margin-top: -8%;
    width: 20%;
  }

  .sakura-tekst h1 {
    z-index: 2;
  }

  h1 {
    text-align: center;
    font-size: 70px;
  }

  .boks1 {
    padding: 2cm;
    color: white;
  }

  .boks2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fbe4cf;
    padding: 2rem;
    gap: 2rem;
    line-height: 2rem;
  }

  .boks2 h2 {
    font-size: 30px;
    color: #263d3d;
  }

  .boks2 p {
    margin-top: 5%;
    color: #263d3d;
  }

  .boks2 img {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  .boks3 {
    background-color: #d5c0ac;
    color: #263d3d;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .boks3 img {
    width: 100%;
  }
  .cherry {
    padding-right: 4rem;
  }

  .boks3 h2 {
    font-size: 50px;
  }

  .boks3 p {
    line-height: 2rem;
  }

  @media only screen and (max-width: 600px) {
    .boks2 {
      display: grid;
      grid-template-columns: 1fr;
    }

    h1 {
      font-size: 42px;
      position: absolute;
      text-align: center;
      margin-top: -6%;
    }
    .sakura_img {
      position: absolute;
      margin-left: 0%;
      z-index: 0;
      margin-top: -15%;
      width: 30%;
    }

    .boks1 {
      padding: 2cm;
      color: white;
      display: flex;
      justify-content: center;
    }
    .boks3 {
      grid-template-columns: 1fr;
    }
    .cherry {
      margin-bottom: -8%;
      margin-top: -3%;
    }
    .bro {
      margin-top: -3%;
      grid-row: 4/4;
    }
  }
</style>
